/* You can addTeam global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~@angular/material/theming";

html, body {
  margin:0;
  height: 100%;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
  text-align: center;
}

.mat-card-margin {
  margin: 2em ;
}

.red-backg {
  background-color: #5a050336;
}

.red-head-backg {
  background-color: #960500e3;
}
